In [4]:
import numpy as np
import pandas as pd

In [5]:
#Q1
data_df = pd.DataFrame({'date':['2017-06-05', '2017-06-06', '2017-06-07', '2017-06-08', '2017-06-09'], 'Facebook':[155,150,153,155,156], 'Google':[955,987,963,100,1012], 'Microsoft':[66,69,62,61,66]})
data_2 = pd.DataFrame({'date':['2017-06-05', '2017-06-06', '2017-06-07', '2017-06-08', '2017-06-09'], 'Facebook':[37.10,36.98,36.78,36.11,37.07], 'Google':[32.0, 31.3, 31.7,31.2, 30.0], 'Microsoft':[30.31,30.56,30.46,30.11,31.00]})
#data_df = data_df.set_index(['date'])
#data_2 = data_2.set_index(['date'])
data_df.columns=[['','Price', 'Price', 'Price'], ['date','Facebook', 'Google', 'Microsoft']]
data_2.columns=[['','Price to earnings ratio (P/E)', 'Price to earnings ratio (P/E)', 'Price to earnings ratio (P/E)'], ['date','Facebook', 'Google', 'Microsoft']]
df = pd.merge(data_df, data_2)
df

                 Price                  Price to earnings ratio (P/E)         \
         date Facebook Google Microsoft                      Facebook Google
0  2017-06-05      155    955        66                         37.10   32.0
1  2017-06-06      150    987        69                         36.98   31.3
2  2017-06-07      153    963        62                         36.78   31.7
3  2017-06-08      155    100        61                         36.11   31.2
4  2017-06-09      156   1012        66                         37.07   30.0


  Microsoft
0     30.31
1     30.56
2     30.46
3     30.11
4     31.00

In [6]:
#Q2
df = df.set_index([''])
df.index.name = 'date'
df.iloc[0]

Price                          Facebook     155.00
                               Google       955.00
                               Microsoft     66.00
Price to earnings ratio (P/E)  Facebook      37.10
                               Google        32.00
                               Microsoft     30.31
Name: (2017-06-05,), dtype: float64

In [7]:
#Q3
df.mean()

Price                          Facebook     153.800
                               Google       803.400
                               Microsoft     64.800
Price to earnings ratio (P/E)  Facebook      36.808
                               Google        31.240
                               Microsoft     30.488
dtype: float64

In [8]:
#Q4
student = pd.DataFrame({'student_name':['John', 'Bob', 'Suzan'], 'age':[20,30,22]})
course = pd.DataFrame({'department name':['CS','CS', 'ENGL'],'course number':[233,455, 433], 'description':['art of Stackoverflow', 'how to google', 'pointless']})
takes = pd.DataFrame({'department name':['CS','CS', 'ENGL'],'course number':[233,455, 433], 'grade':[[2, 3, 0], [0, 0, 0], [0, 0, 4]]})
print(student)
print(course)
print(takes)

  student_name  age
0         John   20
1          Bob   30
2        Suzan   22
  department name  course number           description
0              CS            233  art of Stackoverflow
1              CS            455         how to google
2            ENGL            433             pointless
  department name  course number      grade
0              CS            233  [2, 3, 0]
1              CS            455  [0, 0, 0]
2            ENGL            433  [0, 0, 4]

In [9]:
#Q5
df = pd.merge(student, takes, left_index=True, right_index=True)
df = df.set_index(['student_name'])
def mean(x):
  count = 0
  for i in range(len(x)):
    if x[i] != 0:
      count += 1
  if count == 0:
    return 0
  else:
    return sum(x) / count
df = df['grade'].apply(lambda x: mean(x[:3]))
df

student_name
John     2.5
Bob      0.0
Suzan    4.0
Name: grade, dtype: float64

In [10]:
#Q6
def is_zero(x):
  if x == 0:
    print(x)
# df = df.apply(lambda x: x == 0)
# df.drop[df[df != 0]]
# df = df.apply(lambda x: is_zero(x))
df.drop(['John', 'Suzan'])

student_name
Bob    0.0
Name: grade, dtype: float64

In [11]:
#Q7
business_days = pd.Series(range(0,261))
business_days

0        0
1        1
2        2
3        3
4        4
      ...
256    256
257    257
258    258
259    259
260    260
Length: 261, dtype: int64

In [12]:
#Q8
def days_count(day):
  return len(pd.date_range(start='2018-01-01', end='2018-12-31', freq='W-'+ day))

days = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
num = pd.DataFrame([days_count(i) for i in days], index=days)
num

      0
MON  53
TUE  52
WED  52
THU  52
FRI  52
SAT  52
SUN  52

In [3]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.4 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [13]:
import yfinance as yf

In [18]:
#Q9
google_data = yf.download('GOOG', start='2017-01-01', end='2017-12-31')
google_data['Profit']=google_data['Close']-google_data['Open']
google_data = google_data.reset_index()
google_data['DOW'] = google_data['Date'].transform(lambda x: x.strftime('%A'))
result = google_data.groupby('DOW')['Profit'].sum() * 20 # there was stock split
pd.DataFrame(result, columns=['Profit']).sort_values('Profit', ascending=False)

[*********************100%***********************]  1 of 1 completed

              Profit
DOW
Wednesday  77.895279
Tuesday    42.460022
Monday     38.769608
Thursday    5.105209
Friday      1.339722